.join{
    background-color: #22B6FF;
    color: white;
}
.join:hover{
    background-color: #1b88be;
    color: white;
}

.logo{
    margin-top: -8px;
}

.hero{
    background-color: #0063A6;
    border-radius: 0px 0px 0px 50px;
}

.hero-course{
    background-color: #0063A6;
    border-radius: 0px 0px 0px 50px;
}

.biru{
    background-color: #0063A6;
}

body {
    font-family: "DM Sans", sans-serif;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color:#0063A6;
    overflow-x: hidden;
    padding-top: 15px;;
}

.main {
    padding: 0px 10px;
    margin-top: 68px;
}

.main-content {
    margin: auto;
    display: block;
}

.org{
    height: 97.6vh;
    width: 525,25px;
    margin: auto;
    display: block;
}

.nav-pp img{
    width: 35px;
    height: auto;
    border-radius: 100px;
    margin-left: 10px;
}

.course .card-href{
    text-decoration: none;
    color: black;
}

.jrk{
    margin-right: 5px;
}

.jdl{
    padding-top: 30px;
    text-align: center;
}

.org-hero{
    float: right;
    margin: 10px;
    width: 70%;
    height: auto;
}

.org-hero-course{
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: auto;
    z-index: 99;
}

.category{
    background-color:#FAFAFB;
}

.course{
    background-color: #FAFAFB;
    padding-bottom: 30px;
}

.mentor{
    background-color: #FAFAFB;
    padding-bottom: 30px;
}

.mentor-curriculum{
    background-color: #FAFAFB;
    padding-bottom: 30px;
}

.curriculum{
    padding-bottom: 30px;
}

.mentor .content{
    text-align: center;
    display: block;
}

.mentor-curriculum .curriculum-img{
    width: 100%;
    height: auto;
}

.mentor-curriculum .content{
    background-color: #FAFAFB;
    padding-bottom: 30px;
}

.mentor-curriculum .content img{
    width: 50%;
}

.class-crd{
    margin-bottom: 30px;
    height: 50%;
    width: 30%;
}

.about{
    margin-top: 30px;
    margin-bottom: 30px;
}

.about .about-info h2{
    color: #0063A6;
}

.about .about-info h5{
    color: #22B6FF;
}

.about-crd{
    height: 50%;
    width: 30%;
}

.about-crd img{
    height: auto;
    width: 300%;
}

.class-crd img{
    margin-top: 30px;
    height: auto;
    width: 350%;
}

.card{
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;
}

.card-text{
    opacity: 60%;
}

.harga{
    text-align: right;
}

.btn-biru{
    background-color: #22B6FF !important;
    color: #fff;
    padding-top: 18px;
    padding-bottom: 42px;
}

.btn-biru:hover{
    background-color: #1b88be !important;
    color: #fff;
    padding-top: 18px;
    padding-bottom: 42px;
}

.c-btn{
    margin-bottom: 30px;
    position: relative;
}

.lemu{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.journey{
    margin-top: 30px;
}

.journey h1{
    text-align: center;
}

.journey a{
    margin-bottom: 30px;
    position: relative;
}

.journey img{
    width: 80%;
}

.journey .org4{
    float: right;
    width: 70%;
    height: auto;
}

.futer{
    padding-top: 30px;
    background-color: #0063A6;
}

.list-unstyled li a{
    color: #FFF;
}

.futer-logo{
    width: 40%;
    margin-bottom: 15px;
}

.futer-icon{
    margin-top: 10px;
}

.futer-icon img{
    margin-right: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}